<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
<% arrayMovies.forEach((movie, index) => { %>
    <img src="<%= movie.image  %> "/>
    <p><%= movie.title %> </p>
    <p><a href="/movies/<%-index + 1  %> ">See details</a>
    </p>
    
    <% }) %>